/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*{
    font-family: 'Sora', sans-serif;
}
.tool{
    background: none;
    border:none;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
#container{
    width:100%;
    height:100vh;
    background-image: url(backgrounds/0.gif);
    background-size: contain;
}
#tools{
    width:80px;
   /* height:200px;*/
   border:2px solid black;
   background-color:rgb(122, 122, 167);
    border-radius: 15px;
    position:relative;
    left:92%;
    top:50%;
    transform:translateY(-50%);
    color:rgb(240, 233, 233);
    font-weight:500;
}
.tool-container{
    width:100%;
    
}
.icon{
    
    width:30px;
    height:30px;
   
}
h2{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
h3{
    font-size: 15px;
    text-align: center;
}
#timer{
    display:none;
    position:absolute;
    top:9px;
    left:65%;
    width:300px;
    border:2px solid black;
    background-color:rgb(122, 122, 167);
    border-radius: 10px;
    
}
.start,.stop,.reset,.resume{
    font-size:18px;
    font-weight: 700;
    border-radius: 7px;
    border:none;
    padding:7px;
    margin:2px;
    margin-bottom:10px;
}
.start{
    background-color:#9adba6;
    
}
.stop{
    background-color:#da8181;
}
.reset{
    background-color:#e3e794;
}
#countdown{
    font-size:100px;
    font-weight: 500;
    text-align: center;
    color:white;
}
#swCountdown{
    font-size:70px;
    font-weight: 500;
    text-align: center;
    color:white;
}
#timerButtons{
    display: inline-block;
    position:relative;
    left:50%;
    transform: translateX(-50%);
    
}
#chooseTimer{
    display: inline-block;
    position:relative;
    left:50%;
    transform: translateX(-50%);
    font-size:25px;
}
.hideComponent{
    font-size:15px;
    font-weight:900;
    color:white;
    position:absolute;
    top:3px;
    left:90%;
    background: transparent;
    border:none;
}
#hideAudio{
    margin-top:0px;
    padding-top:0px;
    top:0px;
}
#stopwatch{
    display:none;
    position:absolute;
    top:200px;
    left:65%;
    width:300px;
    border:2px solid black;
    background-color:rgb(122, 122, 167);
    border-radius: 10px;
}
.label{
    margin-top:3px;
    font-size:25px;
    margin-bottom:2px;
    color:white;
}
#tasks{
    display:none;
    position:absolute;
    top:9px;
    left:28%;
    width:418px;
    max-height:400px;
    border:2px solid black;
    background-color:rgb(122, 122, 167);
    border-radius: 10px;
    overflow-y: auto;
}
#audio{
    display:none;
    position:absolute;
    top:9px;
    left:1%;
    height:204px;
    background-color:rgb(122, 122, 167);
    border:2px solid black;
}
#audioTool{
    padding-top:12px;
}
iframe{
    position:relative;
    top:15px;
}
ul{
    display:block;
}
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    color:black;
    text-align: left;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #ddd;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: #f44336;
    padding: 5px 40px;
    color: white;
    text-align: center;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 65%;
    padding: 10px;
    float: left;
    font-size: 16px;
    height:16px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    display:inline-block;
    /* float: left; */
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }
